# Configurações de E-mail (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=seu-email@gmail.com
EMAIL_PASSWORD=sua-senha-de-app-aqui
EMAIL_FROM=seu-email@gmail.com
EMAIL_NAME=CineSperado
