<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assistir mais tarde</title>
  <link rel="stylesheet" href="/frontend/styles/utilitario.css">
  <link rel="stylesheet" href="/frontend/styles/listas.css">
</head>

<body>
  <!-- Cabeçalho -->
  <div class="divheader">
  <header>
    <img src="/frontend/assets/images/LogoCinesperado.png" alt="">
    <ul class="menu">
      <li><a href="/frontend/views/Home.html">Início</a></li>
      <li><a href="/frontend/views/SorteioSlogin.html">Sortear</a></li>
      <li><a href="/frontend/views/AssistirMaisTarde.html">Listas</a></li>
      <li><a href="/frontend/views/SobreNos.html">Sobre nós</a></li>
      <li><a href="/frontend/views/Configuracoes.html">Configurações</a></li>
    </ul>
    <div class="buttonDiv">
      <div class="buttonHeader button">
         <h1><a href="/frontend/views/Login.html">ENTRAR</a></h1>
      </div>
      <div class="buttonHeader button">
        <h1><a href="/HTML//Login.html">CRIAR CONTA</a></h1>
      </div>
    </div>
  </header>
  </div>
<main>
  <div class="divconteudo">
  <div class="div-linha-superior">
      <div class="div-esquerda">
    <h2 class="titulo-lista">Minha Lista</h2>
    <p class="descricao-lista">Veja seus filmes salvos aqui. Organize seus filmes: marque os que quer assistir, os que já viu ou os que não tem interesse</p>
  </div>
  <div class="div-direita">
  </div>
  </div>

  <div class="btn-listas">
    <div class="btn-ativo"><a href="/frontend/views/AssistirMaisTarde.html">Assistir mais tarde</a></div>
    <div><a href="/frontend/views/JaAssistidos.html">Já assistidos </a></div>
    <div><a href="/frontend/views/SemInteresse.html">Sem interesse</a></div>
  </div>
  <div class="container-listas"></div>
</div>
</main>

<!-- Rodapé -->
  <div class="divfooter">
  <footer>
        <p>Créditos: Trabalho de Engenharia de Software - Curso de Análise e Desenvolvimento de Sistemas</p>

  </footer>
  </div>
  <script src="/frontend/shared/theme.js"></script>
</body>

</html>