<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefinir Senha - CineSperado</title>
  <link rel="stylesheet" href="/frontend/styles/utilitario.css">
  <link rel="stylesheet" href="/frontend/styles/configuracoes.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
  <!-- Cabeçalho -->
  <div class="divheader">
    <header>
      <img src="/frontend/assets/images/LogoCinesperado.png" alt="">
      <ul class="menu">
        <li><a href="/frontend/views/Home.html">Início</a></li>
        <li><a href="/frontend/views/SorteioSlogin.html">Sortear</a></li>
        <li><a href="/frontend/views/AssistirMaisTarde.html">Listas</a></li>
        <li><a href="/frontend/views/SobreNos.html">Sobre nós</a></li>
        <li><a href="/frontend/views/Configuracoes.html">Configurações</a></li>
      </ul>
      <div class="buttonDiv">
        <div class="buttonHeader button">
          <h1><a href="/frontend/views/Login.html">ENTRAR</a></h1>
        </div>
        <div class="buttonHeader button">
          <h1><a href="/frontend/views/Login.html">CRIAR CONTA</a></h1>
        </div>
      </div>
    </header>
  </div>
<main>
   <!-- Conteúdo principal -->
  <div class="config-container ativo">
    <div class="config-card">

      <div class="form-container">

        <h1 class="titulosenha">Crie sua nova senha</h1>
        <p style="text-align: center; color: #666; margin-bottom: 20px;">Escolha uma senha segura para proteger sua conta.</p>

        <!-- CAMPO SENHA NOVA -->
        <div class="field-group">
          <label for="newPassword">Digite a nova senha</label>
          <div class="input-wrapper">
            <input type="password" id="newPassword" class="custom-input" placeholder="Nova senha">
          </div>
        </div>

        <!-- CAMPO SENHA NOVA CONFIRMAÇÃO -->
        <div class="field-group">
          <label for="confirmPassword">Confirme a nova senha</label>
          <div class="input-wrapper">
            <input type="password" id="confirmPassword" class="custom-input" placeholder="Confirme a senha">
          </div>
        </div>

        <!-- Mensagem de erro -->
        <span class="error-message" id="reset-error" style="display: none; text-align: center; width: 100%;"></span>

        <!-- Botão salvar -->
        <button class="save-button" id="resetBtn">Salvar nova senha</button>
      </div>
    </div>
  </div>
</main>


  <!-- Rodapé -->
  <div class="divfooter">
    <footer>
      <p>Trabalho desenvolvido para o curso de Análise e Desenvolvimento de Sistemas da Fatec Americana Ministro Ralph Biasi.</p>
    </footer>
  </div>
  <script src="/frontend/shared/theme.js"></script>
  <script src="/frontend/controllers/RedefinirSenhaController.js"></script>
  <script src="/frontend/shared/header.js"></script>
</body>

</html>
