<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nós</title>
  <link rel="stylesheet" href="/frontend/styles/utilitario.css">
  <link rel="stylesheet" href="/frontend/styles/sobreNos.css">
</head>

<body>
  <div class="divheader">
  <header>
    <img src="/frontend/assets/images/LogoCinesperado.png" alt="">
    <ul class="menu">
      <li><a href="/frontend/views/Home.html">Início</a></li>
      <li><a href="/frontend/views/SorteioSlogin.html">Sortear</a></li>
      <li><a href="/frontend/views/AssistirMaisTarde.html">Listas</a></li>
      <li><a href="/frontend/views/SobreNos.html">Sobre nós</a></li>
      <li><a href="/frontend/views/Configuracoes.html">Configurações</a></li>
    </ul>
    <div class="buttonDiv">
      <div class="buttonHeader button">
        <h1><a href="/frontend/views/Login.html">ENTRAR</a></h1>
      </div>
      <div class="buttonHeader button">
        <h1><a href="/frontend/views/Login.html">CRIAR CONTA</a></h1>
      </div>
    </div>
  </header>
  </div>
<main>
  <div class="main-container">
    <!-- Lado esquerdo - Pôsteres -->
    <div class="poster-wall">
        <div class="poster">
            <img src="/Icones-Imagens/sobrenos/SobreNos.jpg" alt="PosterEsquerdo">
        </div>
    </div>

    <!-- Lado direito - Conteúdo -->
    <div class="content-area">
        <h1 class="sobre-nos-title">Sobre Nós</h1>
        
        <p class="description-text">
            Somos um grupo de quatro estudantes apaixonados por tecnologia, cinema e boas experiências digitais. 
        </p>
        
        <p class="description-text">
            No 5º semestre do curso de Análise e Desenvolvimento de Sistemas, unimos criatividade e código para dar vida ao <span class="highlight">Cinesperado</span>– uma plataforma feita para transformar aquele momento de dúvida (“o que assistir agora?”) em algo simples, divertido e cheio de descobertas.
        </p>
        <p class="description-text">Nosso objetivo é ajudar você a explorar o mundo do cinema de forma prática e interativa. Aqui, você pode gerar filmes de forma aleatória ou usar filtros como gênero, ano de lançamento, nota e até diretor para encontrar algo que combine com o seu momento.</p>
    </div>
    
    <!-- Área vermelha posicionada abaixo da imagem esquerda -->
    <div class="welcome-area">
        <p class="welcome-text-title">
            Seja bem-vindo(a)!
        </p>
        <p class="welcome-text">Prepare a pipoca e deixe o Cinesperado surpreender você.
        </p>
        <img src="/Icones-Imagens/sobrenos/Amelie.jpg" alt="Amelie">
    </div>
</div>
</main>


  <div class="divfooter">
  <footer>
    <p>Créditos: Trabalho de Engenharia de Software - Curso de Análise e Desenvolvimento de Sistemas</p>
  </footer>
  </div>
   <script src="/frontend/shared/theme.js"></script>
</body>

</html>